corpus/RST-DT/EXT-EDUS-30/file1.abs.name1
corpus/RST-DT/EXT-EDUS-30/file1.abs.name2
corpus/RST-DT/EXT-EDUS-30/file1.ext.name4
corpus/RST-DT/EXT-EDUS-30/file1.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/file1.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1102.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1102.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1102.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1102.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1102.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1103.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1103.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1103.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1103.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1103.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1105.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1105.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1105.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1105.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1105.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1107.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1107.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1107.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1107.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1107.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1109.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1109.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1109.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1109.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1109.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1111.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1111.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1111.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1111.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1111.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1121.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1121.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1121.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1121.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1121.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1122.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1122.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1122.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1122.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1122.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1128.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1128.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1128.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1128.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1128.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1131.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1131.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1131.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1131.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1131.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1140.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1140.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1140.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1140.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1140.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1142.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1142.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1142.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1142.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1142.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1143.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1143.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1143.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1143.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1143.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1146.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1146.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1146.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1146.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1146.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1154.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1154.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1154.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1154.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1154.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1157.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1157.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1157.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1157.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1157.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1161.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1161.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1161.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1161.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1161.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1162.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1162.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1162.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1162.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1162.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1302.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1302.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1302.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1302.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1302.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1317.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1317.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1317.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1317.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1317.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1322.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1322.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1322.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1322.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1322.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1331.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1331.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1331.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1331.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1331.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1394.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1394.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_1394.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_1394.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_1394.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2309.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2309.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2309.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_2309.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2309.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2313.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2313.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2313.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_2313.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2313.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2315.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2315.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2315.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_2315.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2315.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2317.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2317.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2317.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_2317.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2317.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2322.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2322.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2322.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_2322.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2322.shortabs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2326.abs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2326.abs.name2
corpus/RST-DT/EXT-EDUS-30/wsj_2326.ext.name4
corpus/RST-DT/EXT-EDUS-30/wsj_2326.shortabs.name1
corpus/RST-DT/EXT-EDUS-30/wsj_2326.shortabs.name2
